<ion-header>

    <ion-navbar color="primary">
        <ion-title>Perfil</ion-title>
        <ion-buttons start>
            <button ion-button icon-left clear (click)="goBack()">
    <ion-icon name="arrow-back"></ion-icon>
    Atrás
  </button>
        </ion-buttons>
        <ion-buttons *ngFor="let u of user | async" end>
            <button ion-button (click)="editInfo(u)" clear>
              <ion-icon name="create"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<script>
    function QRGenerator(id) {
        console.log("Entré en la función");
        console.log("id es: " + id);
        var qrcode = new QRCode("qrcode");
        qrcode.makeCode(id);
    }
</script>

<ion-content padding>
    <div>
        <div align="center">
            <div class="imgRedonda" align="center">
                <div class="item-avatar">
                    <img src="../assets/images/IMG_4076.jpg" class='imgRedonda' />
                </div>
            </div>
        </div>
        <br>
        <div *ngFor="let u of user | async">
            <br>
            <h3>{{u.Nombre}} {{u.Apellido}}</h3>
            <h5>Telefono: {{u.Telefono}} </h5>
            <h5>Cuenta principal n°: {{u.Cuentas.Cuenta1.Numero}}</h5>
            <h5>Banco: {{u.Cuentas.Cuenta1.Banco}}</h5>
            <h5>Cuenta secundaria n°: {{u.Cuentas.Cuenta2.Numero}}</h5>
            <h5>Banco: {{u.Cuentas.Cuenta2.Banco}}</h5>
            <h5>Correo: {{u.Correo}}</h5>
            <br>
            <div align="center"><button ion-button color="default" (click)="MostrarCodigo()">Muestra tu QR</button></div>
            <div id="qrcode"></div>
        </div>
    </div>
</ion-content>