page-pagar-fase1 {

  #Imagen {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #E91E63;
  font-size: 21px;
  color: #fff;
  text-align: center;
  line-height: 80px;
  margin: auto;
  }

  h1
  {
     font-size: 21px !important;
     color: #2196F3 !important;
  }

  p {
        font-size: 17px !important; 
    }
}
